---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: application-logs
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: hdd
  resources:
    requests:
      storage: 200Gi
