apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: monitoring
data:
  prometheus.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://kube-prometheus-stack-prometheus:9090
        isDefault: true
        jsonData:
          timeInterval: 30s
          queryTimeout: 30s
          httpMethod: POST
          customQueryParameters: ""
        editable: true
