apiVersion: v1
kind: Service
metadata:
  name: {{ include "nest.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "nest.labels" . | nindent 4 }}
  {{- with .Values.app.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.app.service.type }}
  ports:
    - port: {{ .Values.app.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "nest.selectorLabels" . | nindent 4 }}
